@model SocialNetwork.Presentation.Web.Models.Messages.ChatModel

@{
    ViewData["Title"] = "Сообщения";
    var currentUser = (SocialNetwork.Application.Models.User)ViewData["CurrentUser"]!;
}

<h1>Общий чат</h1>

<div id="chatBox" class="chat-box">
    @foreach (var msg in Model.Messages)
    {
        var isOwnMessage = msg.Sender?.Id == currentUser.Id;
        var messageClass = isOwnMessage ? "chat-message-wrapper own-message" : "chat-message-wrapper";

        <div class="@messageClass">
            <div class="chat-message">
                <div class="sender-name-wrapper">
                    @if (msg.Sender == null)
                    {
                        <span class="sender-name">Deleted user</span>
                    }
                    else if (isOwnMessage)
                    {
                        <span class="sender-name">You</span>
                    }
                    else
                    {
                        <a href="/@msg.Sender.Username" class="sender-name">@msg.Sender.Name</a>
                    }
                </div>
                @msg.Content
            </div>
        </div>
    }
</div>

<div class="form-group">
    <input type="text" id="messageInput" class="form-control" placeholder="Введите сообщение..."/>
</div>

<button id="sendButton" class="btn-primary">Отправить</button>

@section Scripts {
    <script>
        window.currentUserId = @currentUser.Id;
    </script>

    <script src="@("https://cdn.jsdelivr.net/npm/@microsoft/signalr@7.0.5/dist/browser/signalr.min.js")"></script>
    <script src="~/js/chat.js"></script>
}
